/* Write your CSS here */
.container {
  background-color: #ffc2a0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.bg-container {
  background-color: #ffffff;
  border-radius: 10px;
}
